.side-bar
  .side-bar__user-name
    .contents
      .name
        = current_user.name
      .icons
        =link_to "#", class: "contents__btn" do
          = icon('fa', 'edit',  class: "contents__btn--icon")
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',  class: "contents__btn--icon")
  .side-bar__group-list
    %div.clearfix
    .side-bar__group-list--name
      グループ名
    .side-bar__group-list--message
      メッセージ
