.chat-main
  .chat-main__group-info
    .contents
      .contents__message--box
        .message
          グループ名
        .name
          メンバー名
      .contents__edit
        =link_to "#", class: "contents__edit--btn" do
          %p.contents__edit-box
            Edit
  .chat-main__message-list
    .chat
      .chat--title
        タイトル
      .chat--message
        メッセージ
    .chat
      .chat--title
        タイトル２
      .chat--message
        メッセージ
  .chat-main__message-form
    .contents__input
      %input.inputbox{name: "input", placeholder: "type a message", type: "text", value: ""} 
      .contents__icon
        %label{class: "input-box__image",for:"image"}
          = icon('fas', 'image')
          %input{type: "file",id:"image",class:"hidden"}
    .contents__send
      %input{type: "submit",class: "contents__send--btn",id: "message_image",value: "Send"}

